@model QuickType.DuckDuckGo

@{
    ViewBag.Title = "DuckDuckGo";
}

<style>
    div.container {
        padding: 2px 16px;
        max-width: 100%;
        overflow-wrap: break-word;
        text-overflow: ellipsis;
    }
</style>

<h2>DuckDuckGo</h2>
<div>
    @foreach (var item in Model.RelatedTopics)
    {
        if (item.Result != null)
        {

            string[] s = item.Result.Split('"');
            string[] text = s[1].Split('/');

            <div class="card">
                <div class="container">
                    <a href="@s[1]">@text[text.Length - 1] </a>
                    <p>@s[2].Split('>')[s[2].Split('>').Length - 1]</p>
                </div>
            </div>
            <br />
        }
    }


</div>
<div>
    <h4>DuckDuckGo</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (!Html.DisplayFor(model => model.Entity).ToString().Equals(""))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Entity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Entity)
            </dd>
        }

        @if (!Html.DisplayFor(model => model.AnswerType).ToString().Equals(""))
        {
            <dt>
                @Html.DisplayNameFor(model => model.AnswerType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnswerType)
            </dd>
        }

        @if (!Html.DisplayFor(model => model.Answer).ToString().Equals(""))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Answer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Answer)
            </dd>
        }

        @if (!Html.DisplayFor(model => model.ImageWidth).ToString().Equals("0"))
        {
            //Assuming the image has a value for width or height, there was an image found.
            <dt>
                @Html.DisplayNameFor(model => model.ImageWidth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImageWidth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImageHeight)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImageHeight)
            </dd>

            //For image is the logo, write "yes/no" instead of "1/0"
            if (!Html.DisplayFor(model => model.ImageIsLogo).ToString().Equals("0"))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.ImageIsLogo)
                </dt>

                <dd>
                    Yes
                </dd>
            }
            else
            {
                <dt>
                    @Html.DisplayNameFor(model => model.ImageIsLogo)
                </dt>

                <dd>
                    No
                </dd>
            }
        }

        @if (!Html.DisplayFor(model => model.Type).ToString().Equals(""))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>
        }

        @if (!Html.DisplayFor(model => model.AbstractText).ToString().Equals(""))
        {
            <dt>
                @Html.DisplayNameFor(model => model.AbstractText)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AbstractText)
            </dd>
        }

        @if (!Html.DisplayFor(model => model.DefinitionUrl).ToString().Equals(""))
        {
            <dt>
                @Html.DisplayNameFor(model => model.DefinitionUrl)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DefinitionUrl)
            </dd>
        }

        @if (!Html.DisplayFor(model => model.Definition).ToString().Equals(""))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Definition)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Definition)
            </dd>
        }

        @if (!Html.DisplayFor(model => model.DefinitionSource).ToString().Equals(""))
        {
            <dt>
                @Html.DisplayNameFor(model => model.DefinitionSource)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DefinitionSource)
            </dd>
        }

        @if (!Html.DisplayFor(model => model.Heading).ToString().Equals(""))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Heading)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Heading)
            </dd>
        }

        @if (!Html.DisplayFor(model => model.Abstract).ToString().Equals(""))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Abstract)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Abstract)
            </dd>
        }

        @if (!Html.DisplayFor(model => model.AbstractSource).ToString().Equals(""))
        {
            <dt>
                @Html.DisplayNameFor(model => model.AbstractSource)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AbstractSource)
            </dd>
        }

        @if (!Html.DisplayFor(model => model.Redirect).ToString().Equals(""))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Redirect)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Redirect)
            </dd>
        }

        </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

