
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Index</h1>
    <div>
        <h3>
            APIs
        </h3>
        <p>
            @Html.ActionLink("Currency API Auto Pass Parameters Example", "Currency", "API", new { exchangeRate = "USD" }, null)
        </p>
        <p>
            @Html.ActionLink("Currency Form API", "CurrencyForm", "API")
        </p>
        <p>
            @Html.ActionLink("Weather API Auto Pass Parameters Example ", "Weather", "API", new { zipCode = "25705" }, null)
        </p>
        <p>
            @Html.ActionLink("Weather Form API", "WeatherForm", "API")
        </p>
        <p>
            @Html.ActionLink("Duck Duck Go API Auto Pass Parameters Example", "DuckDuckGo", "API", new { query = "Amazon" }, null)
        </p>
        <p>
            @Html.ActionLink("DuckDuckGo Form API", "DuckDuckGoForm", "API")
        </p>
        <p>
            @Html.ActionLink("News API", "News", "API")
        </p>
        <p>
            @Html.ActionLink("Marshall Feed API", "Marshall", "API")
        </p>

        <h3>
            <br />
            Home
        </h3>
        <p>
            @Html.ActionLink("Back to homepage", "Index", "Home")
        </p>

    </div>
</body>
</html>
