@model QuickType.MarshallNewsFeed

@{
    ViewBag.Title = "Marshall";
}

<style>
    div.container {
        padding: 2px 16px;
        max-width: 100%;
        overflow-wrap: break-word;
        text-overflow: ellipsis;
    }
</style>

<h2>Marshall</h2>
<br />
@foreach (var item in Model.Entries)
{
    <div class="card">
        <div class="container">
            <h4>@item.FeedName.ToString()</h4>
            <p>
                <a href="@item.Link.First().ToString()">@item.Link.First().ToString()</a>
            </p>
            <p>
                @item.Content.ToString()
            </p>
            <br />
        </div>
    </div>
    <br />
}



<p>
    @Html.ActionLink("Back to List", "Index")
</p>

