@model QuickType.MarshallNewsFeed

@{
    ViewBag.Title = "Marshall";
}

<style>
    div.container {
        padding: 2px 16px;
        max-width: 100%;
        overflow-wrap: break-word;
        text-overflow: ellipsis;
    }
</style>

<h2>Marshall</h2>
@foreach (var item in Model.Entries)
{
    <div class="card">
        <div class="container">
            <h4>@item.FeedName.ToString()</h4>
            <p>
                @item.Link.First().ToString()
            </p>
            <p>
                @item.Content.ToString()
            </p>
            <br />
        </div>
    </div>
    <br />
}

<div>
    <h4>MarshallNewsFeed</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstOffset)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOffset)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastOffset)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastOffset)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eol)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

