@model QuickType.News

@{
    ViewBag.Title = "News";
}

<h2>News</h2>

<style>
    div.container {
        padding: 2px 16px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div>


    @foreach (var item in Model.Articles)
    {
        <div class="card">
            <br />
            <img src="@item.UrlToImage" alt="@item.Title" class="center-block" width="80%" height="45%">
            <div class="container">
                <p>@item.Title</p>
                <a href="@item.Url">@item.Source.Name</a>
                <br />
            </div>
        </div>
        <br />
    }
</div>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalResults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalResults)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

