@model QuickType.Weather

@{
    ViewBag.Title = "Weather";
}

<h2>Weather</h2>
<br />
<style>
    div.container {
        padding: 2px 16px;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="card">
    <div class="container">

        <h3>@Model.Name</h3>
        <br />
        <h4>Temperature</h4>
        Current: @Model.Main.Temp °F
        <br />
        Min: @Model.Main.TempMin °F
        <br />
        Max: @Model.Main.TempMax °F
        <br />
        Humidity: @Model.Main.Humidity %
        <br />

        <br />
        <h4>Conditions</h4>
        <ul>
            @foreach (var item in Model.WeatherWeather)
            {
                <li>@item.Main.ToString()</li>
                <li>@item.Description.ToString()</li>

            }
        </ul>
    </div>
 </div>

<br />



<p>
    @Html.ActionLink("Back to List", "Index")
</p>
