@model QuickType.Weather

@{
    ViewBag.Title = "Weather";
}

<h2>Weather</h2>

<style>
    div.container {
        padding: 2px 16px;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="card">
    <div class="container">

        <h3>@Model.Name</h3>
        <br />
        <h4>Temperature</h4>
        Current: @Model.Main.Temp
        <br />
        Min: @Model.Main.TempMin
        <br />
        Max: @Model.Main.TempMax
        <br />
        Humidity: @Model.Main.Humidity
        <br />
        <br />
        <h4>Conditions</h4>
        <ul>
            @foreach (var item in Model.WeatherWeather)
            {
                <li>@item.Main.ToString()</li>
                <li>@item.Description.ToString()</li>

            }
        </ul>
    </div>
 </div>

<br />

    <h4>Weather</h4>
    <hr />
    <dl class="dl-horizontal" max-width="80%">
        <dt>
            @Html.DisplayNameFor(model => model.Base)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Base)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visibility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visibility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod)
        </dd>

    </dl>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
