@using Microsoft.AspNet.Identity
@model IEnumerable<CS481WebApp.Models.Forum>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.ActionLink("Comment", "CreateComment", new { ParentID = item.ForumID }, null)
            @Html.ActionLink("View Comments", "ViewComments", new { ParentID = item.ForumID }, null)
            @if ((item.UserID == System.Web.HttpContext.Current.User.Identity.GetUserId()))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ForumID })
            }
            @if ((item.UserID == System.Web.HttpContext.Current.User.Identity.GetUserId()))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.ForumID })
            }
        </td>
    </tr>
}

</table>
