@using Microsoft.AspNet.Identity
@model IEnumerable<CS481WebApp.Models.Forum>

@{
    ViewBag.Title = "Index";
}

<style>
    div.container {
        padding: 2px 16px;
        max-width: 100%;
        overflow-wrap: break-word;
    }
</style>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @Html.ActionLink("Manage My Forums", "Manage")
</p>

@foreach (var item in Model) {
    <div class="card">
    <div class="container">
        <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
        <p>@Html.DisplayFor(modelItem => item.Body)</p>
        <p>@Html.DisplayFor(modelItem => item.Timestamp)</p>
        @if (User.Identity.GetUserId() == (item.UserID))
        {
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = item.ForumID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ForumID })
            </p>
        }
    </div>
</div>
}

