@model IEnumerable<CS481WebApp.Models.Blog>

@{
    ViewBag.Title = "Index";
}

<h2>Blog</h2>

<style>
    div.container {
        padding: 2px 16px;
        max-width: 100%;
        overflow-wrap: break-word;
    }

</style>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
<div class="card">
    <div class="container">
        <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
        <p>@Html.DisplayFor(modelItem => item.Timestamp)</p>
        <p>@Html.DisplayFor(modelItem => item.Body)</p>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = item.BlogID }) |
            @Html.ActionLink("Details", "Details", new { id = item.BlogID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BlogID })
        </p>

    </div>
</div>
    <br />
}


